.header{

    background-color: #444259;
    padding: 10px 0;
    
}
.header h2{

    color: white;
    font-weight:bold ;
    font-size: 23px;
    
    
}
.header_title{
    width: 90%;
    margin: 0 auto;
}